.article-bottom.adsense
  %script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  %ins(class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-7665673588234323"
    data-ad-slot="7276505790"
    data-ad-format="auto")
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});

- if page? || post? || entry?
  .article-bottom.related
    %script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    %ins(class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-7665673588234323"
      data-ad-slot="3942164192"
      data-ad-format="autorelaxed")
    :javascript
      (adsbygoogle = window.adsbygoogle || []).push({});
