.article-bottom
  %script(async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
  %ins(class="adsbygoogle"
       style="display:block"
       data-ad-format="autorelaxed"
       data-ad-client="ca-pub-7665673588234323"
       data-ad-slot="3942164192")
  :javascript
    (adsbygoogle = window.adsbygoogle || []).push({});
