.articles.section
  - cache_fragment('index-categories', :shared) do
    %ul#categories
      - Category.all.each do |category|
        %li= link_to category.title, "/category/#{category.slug}/"
  - @posts.each_with_index do |post, index|
    = partial :article, :locals => {:post => post, :index => index}
  = @posts.pager.to_html(request.url)
