%article#recent_entries
  %h2= @page_title
  %p= @page_description
  %section.recent
    - cache_fragment I18n.locale, expires_in: 1.hour do
      .new-entry
        - if post = @entries.first
          = partial :_main_entry, locals: { post: post }
      .past-entries
        - @entries.each_with_index do |post, index|
          - next if index == 0
          = partial :_other_entries, locals: { post: post }
