.env
/database.yml
/db/*.sqlite3
/bundle
/vendor/bundle
/vendor/gem
/.bundle
/tmp/*
/tmp/*.log
/tmp/pids
/tmp/sockets
/log/*.log
/*.csv
/coverage
.DS_Store
/tags
/import.rb
/pkg
/.rvmrc
/.powrc
/Lokka.app
*.swp
/db/log
/db/*.log
/db/*.yml
/doc
/.yardoc
plugin_old
/.sass-cache
*.sql
*.sql.gz
/public/plugin/*/node_modules
/config/newrelic.yml

public/**/build/*.js
public/**/dist/*.js
npm-debug.log
