%h2 Comment Notifier
%form{:action => '/admin/plugins/comment_notifier', :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  .field
    %label{:for => 'comment_notify_by'} Notify By
    %br
    =select_tag 'comment_notifier[notify_by]', :options => ['im.kayac.com', 'email'], :selected => 'im.kayac.com', :value => Option.comment_notify_by, :id => 'comment_notify_by'
  .field
    %label{:for => 'comment_notify_to'} Notify To
    %br
    %input{:type => 'text', :name => 'comment_notifier[notify_to]', :value => Option.comment_notify_to, :id => 'comment_notify_to'}
  .field
    %input{:type => 'submit', :value => t('edit')}
