BIN=/var/www/deploys/portalshit/current/bin

# today (hourly)
0 * * * * $BIN/hourly_stats

# yesterday (daily at 1:00)
0 1 * * * $BIN/daily_stats_yesterday

5 1 * * * $BIN/log_backup
10 1 * * * $BIN/db_backup

# all (daily at 2:00)
0 2 * * * $BIN/daily_stats_all

# maintenance (every 10min)
*/10 * * * * $BIN/run_update_search_index
*/10 * * * * $BIN/run_update_similarity

# 500 error mail (every 5 min)
*/5 * * * * $BIN/notify_errors
