%h2= t('ng_words.title')
%p= t('ng_words.banner')
%form{ action: url('/admin/plugins/ng_words'), method: :post }
  %input{ type: :hidden, name: :_method, value: 'put' }
  .field
    %label{ for: :ng_words_key }= t('ng_words.ng_words')
    %br
    %input{ type: :text, id: :ng_words, name: 'ng_words[ng_words]', value: @ng_words }
  %br
  .field
    %p
    %input{ type: :submit, value: t('save') }
