@mixin footer-common {
  margin: 1.5em 0;
  text-align: right;
  font-size: 90%;
}

@mixin nav-profile {
  height: 28px;
  color: #000000;
  img {
    vertical-align: middle;
  }
  i {
    font-size: 24px;
    vertical-align: middle;
  }
}

@mixin _border-radius {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin _meta {
  font-size: 0.85em;
  color: $meta-text-color;
  a {
    &:link, &:visited {
      color: $meta-text-color;
    }
  }
}

@mixin _overflow-x-scroll {
  overflow-x: scroll;
  &::-webkit-toolbar {
    display: none;
  }
}

@mixin gradient-background($image) {
  background-image: linear-gradient(to top, rgba(33,33,33,0.50), transparent, transparent), url("https://resources.portalshit.net/theme-images/header-bg-#{$image}.jpg");
}
