@mixin footer-common {
  margin: 1.5em 0;
  text-align: right;
  font-size: 90%;
}

@mixin nav-profile {
  height: 28px;
  color: #000000;
  img {
    vertical-align: middle;
  }
  i {
    font-size: 24px;
    vertical-align: middle;
  }
}

@mixin _border-radius {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin _meta {
  font-size: 0.85em;
  color: $meta-text-color;
  a {
    &:link, &:visited {
      color: $meta-text-color;
    }
  }
}

@mixin _overflow-x-scroll {
  overflow-x: scroll;
  &::-webkit-toolbar {
    display: none;
  }
}

@mixin gradient-background($image) {
  background-image: linear-gradient(to top, rgba(33,33,33,0.50), transparent, transparent), url("https://resources.portalshit.net/theme-images/header-bg-#{$image}.jpg");
}

@mixin article-title {
  font-size: 1.2em;
  word-wrap: break-word;
  text-align: left;
  padding: 0;
  margin: 1em auto;

  a {
    text-decoration: none;
    text-shadow: $dark-text-shadow-color 0 1px 0;
    z-index: 2;
    position: relative;

    &:link, &:visited {
      color: #e6e6e6;
      text-shadow: $dark-text-shadow-color 0 1px 0;
    }

    &::before {
      content: "•";
      font-size: 360%;
      text-shadow: none;
      line-height: 0.1;
      z-index: -1;
      position: absolute;
      margin-top: 0.05em;
      margin-left: -0.2em;
    }

    &:link::before {
      color: $dark-link-color;
    }

    &:visited::before {
      color: $dark-visited-link-color;
    }

    &:hover::before {
      color: $dark-hover-link-color;
    }
  }

  @media (prefers-color-scheme: light) {
    a {
      text-shadow: #{$light-text-shadow-color} -0.5px -0.5px 1px !important;

      &:link, &:visited {
        color: $light-title-link-color;
      }

      &:link::before {
        color: $light-link-color;
      }
      &:visited::before {
        // color: $light-visited-link-color;
      }
      &:hover::before {
        color: $light-hover-link-color;
      }
    }
  }

  @media screen and (max-width: 640px) {
    margin-bottom: 1.2em;
    a {
      margin-left: 0.2em;

      &:before {
        margin-left: -0.12em;
        font-size: 300%;
      }
    }
  }
}

@mixin category-emoji-decoration {
  &.blogging:before {
    content: '📝';
  }
  &.misc:before {
    content: '🤪';
  }
  &.shopping:before {
    content: '💸';
  }
  &.work:before {
    content: '👷🏻‍♂️';
  }
  &.mac-iphone:before {
    content: '📱';
  }
  &.travel-and-short-trips:before {
    content: '🗺';
  }
  &.WWW:before {
    content: '🕸';
  }
  &.cooking-and-eating:before {
    content: '🥘';
  }
  &.photo:before {
    content: '📷';
  }
  &.reading:before {
    content: '📕';
  }
  &.tech-and-programming:before {
    content: '💻';
  }
  &.cinema:before {
    content: '📺';
  }
  &.music:before {
    content: '🎧';
  }
}

@mixin entries-list {
  margin-top: 2.5em;

  ul {
    padding-left: .5em;
    list-style: none;
    display: flex;
    flex-flow: row wrap;

    li {
      width: 50%;
      margin: 1.2em 0;
    }

    .title {
      display: flex;
      justify-content: space-between;
      margin: .8em 0;

      .link {
        display: -webkit-box;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        font-size: 110%;
        font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
        font-weight: 500;
      }

      .created_at {
        font-size: 80%;
        color: $meta-text-color;
        margin: auto 1em auto .5em;
        min-width: 141px;
      }
    }

    .description {
      display: flex;
      flex-direction: row;

      .image {
        flex-grow: 3;
        img {
          width: 150px;
          max-width: 150px;
        }
      }

      .text {
        flex-grow: 7;
        font-size: 90%;
        margin: 0 1em;
      }
    }
  }


  @media screen and (max-width: 640px) {
    width: 100%;

    ul li {
      width: 100%;
      margin: .5em 0;

      .title {
        display: block;
        .link {
          display: block;
        }

        .created_at {
          margin: auto 0;
        }
      }
      .description .image img {
        max-width: 100px;
        min-width: 100px;
      }
    }
  }

  .comments {
    margin: auto;

    ul {
      padding-left: 0;
    }

    .comment {
      margin: 1em auto;
      .meta, .body {
        margin: auto;
      }

      .meta {
        padding-left: 0.5em;
        width: 30%;
      }

      .body {
        width: 65%;
        padding: 0 5px 0 3px;
      }
    }
  }
}

@mixin bookmark-count {
  font-size: .7em;
  background-color: pink;
  font-weight: bold;
  padding: .1em;

  a {
    color: red !important;
    text-decoration: underline;
  }
}
