@media screen and (max-width: 1112px) {
  #content {
    article#recent_entries, article.category {
      section {
        .new-entry {
          .content {
            flex-direction: column;

            .body {
              margin-left: 0;
            }

            .image, .body {
              width: 100%;
              margin: 1em auto;
            }

            .image {
              text-align: center;

              .default {
                max-width: 200px;
                margin: auto;
              }
            }
          }
        }

        .past-entries {
          .entry {
            width: 47%;

            &:nth-child(odd) {
              margin-right: 2em;
            }

            &:nth-child(even) {
              margin-right: 0;
            }

            .image {
              margin: .5em auto 1em;

              img {
                margin: auto;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  body {
    font-size: 15px;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  #header, #content, #footer {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  #header #header-inner {
    width: 95%;
    height: 200px;
    padding: 0;
    min-height: 50px;
    flex-direction: column;

    h1 {
      margin-top: -8px;
      margin-left: 0;
      flex-grow: 4;
    }

    #global-nav {
      flex-grow: 1;
      width: 100%;
      height: 35px;

      ul {
        margin: 0;
        display: flex;
        justify-content: center;

        li {
          padding-left: 3px;
          margin: auto;
          font-size: 3.5vw;
          flex-grow: 1;
          width: 5vw;
          min-width: 80px;

          a {
            padding: 2px 5px;
          }

          &.github, &.twitter {
            display: none;
          }

          &.search {
            flex-grow: 2 !important;
            #search_form input[type="text"] {
              margin-top: 3px;
              margin-left: unset;
              width: calc(100% - 1em);
              min-width: 80px;
              max-width: 160px;
              height: 85%;
              font-size: 16px;
            }
          }
        }
      }
    }

    #header-bottom {
      #bread_crumb {
        flex-grow: 1;
        margin: 0 auto;
      }

      #category-nav, #header-bg-description {
        display: none;
      }
    }
  }

  #content {
    padding: .5em 0;

    article#recent_entries, article.category {
      header {
        .meta {
          display: block;
          margin-left: 0;
          font-size: .8rem;
        }
      }

      section {
        .new-entry {
          .content {
            flex-direction: column;
            margin: auto;

            .image, .body {
              width: 100%;
              margin: 0;
            }

            .body {
              margin-top: 1em;
            }

            .image {
              text-align: center;

              .default {
                max-width: 200px;
                margin: auto;
              }
            }
          }
        }

        .past-entries {
          .entry {
            width: 100%;
            padding: initial;

            &:nth-child(odd), &:nth-child(even), &:nth-child(3n) {
              margin: auto .5em;
            }

            .content {
              display: flex;

              .body {
                flex-grow: 7;
                font-size: 90%;
                margin: 0 0 0 1em;
                padding: 0;
              }

              .image {
                flex-grow: 3;
                min-width: 100px;

                img.mobile {
                  max-width: 100px;
                  display: block;
                }

                img.default {
                  max-width: 100px;
                }

                img.desktop {
                  display: none;
                }
              }
            }
          }
        }

        .entry {
          margin: auto .5em;

          .meta {
            text-align: left;
          }
        }
      }
    }

    section.more {
      display: block;

      > section.category-list, > section.entry-list {
        width: 100%;
      }
    }

    article {
      header {
        nav.prevnext {
          font-size: 85%;
        }
      }

      .body {
        width: unset;
        margin: auto .5em;

        figure {
          margin: 0;
          margin-bottom: 1em;
        }

        blockquote {
          padding-left: 1em;
          padding-right: 1em;

          &::before {
            left: -0.15em;
            font: 400% Georgia, "Times New Roman", Times, serif;
          }

          & > * {
            margin-left: 1.5em;
          }
        }

        h3 {
          margin-top: 1.25em;
        }

        ul {
          -webkit-padding-start: 1.5em;
        }

        code {
          font-size: 0.8em;
          word-wrap: break-word;
        }
      }

      .footer {
        font-size: 80% !important;
        padding-top: 0 !important;

        .tags {
          -webkit-padding-start: 0 !important;
          -webkit-margin-before: 0;
          -webkit-margin-after: 0;
        }

        & > * {
          display: block !important;
        }
      }
    }

    .pagination {
      -webkit-padding-start: 0 !important;

      span {
        margin: 0.15em;
      }
    }

    #comment_form {
      margin: auto !important;
      width: 95% !important;
      padding-bottom: 1.5em;
      $comment_form_width: 75% !important;

      input[type="text"], textarea {
        font-size: 16px;
      }

      #comment_name {
        width: $comment_form_width;
      }

      #comment_email {
        width: $comment_form_width;
      }

      #comment_homepage {
        width: $comment_form_width;
      }

      #comment_body {
        width: 95% !important;
      }
    }
  }

  #footer {
    margin: 0;

    aside {
      display: block;
      margin: 0;
      padding: .7em .6em;

      dl {
        margin: 0.25em;
        width: 100%;
        dd {
          display: none;
        }
      }
    }
  }
  // Archive
  #content .archive-filter {
    flex-wrap: wrap;

    .year-list, .category-list, .search-field, .entry-length {
      max-width: 45%;
      margin: 0;
      padding: 0.5em;

      li {
        margin: 0;
        font-size: 0.9em;
      }
    }

    .search-field {
      input {
        max-width: 93%;
      }
    }

    .entry-length {
      width: 100%;
    }
  }

  .archive-by-month {
    ul {
      list-style: disc !important;
      -webkit-padding-start: 15px !important;
    }

    .detail-information {
      font-size: 0.75em !important;
      display: block !important;
      margin-left: 0 !important;
    }
  }
}

