@media screen and (max-width: 640px) {
  body {
    font-size: 15px;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  #header, #content, #footer {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  #header #header-inner {
    width: 95%;
    height: 200px;
    padding: 0;
    min-height: 50px;
    flex-direction: column;

    h1 {
      margin-top: -8px;
      margin-left: 0;
      flex-grow: 4;
    }

    nav#global-nav {
      flex-grow: 1;
      width: 100%;
      height: 35px;
      ul {
        margin: 0;
        li {
          padding-left: 3px;
          margin: auto;
          flex-grow: 1;
          a {
            padding: 2px 5px;
          }
          &.github, &.twitter {
            display: none;
          }
          &.search {
            #search_form input[type=text] {
              max-width: 120px;
              width: 100px;
            }
          }
        }
      }
    }

    #bread_crumb {
      flex-grow: 1;
      margin: 0 auto;
    }

    nav#category-nav {
      display: none;
    }
  }

  #content {
    #main {
      padding: .5em 5px;
      article {
        header {
          nav.prevnext {
            font-size: 85%;
          }
          .title {
            margin-bottom: 1.2em;
            a {
              margin-left: 0.2em;
            }
            a:before {
              margin-left: -0.12em;
              font-size: 300%;
            }
          }
        }
        .body {
          width: unset;
          blockquote {
            &:before {
              left: -0.15em;
              font: 400% Georgia, "Times New Roman", Times, serif;
            }
            padding-left: 1em;
            padding-right: 1em;

            & > * {
              margin-left: 1.5em;
            }
          }
          h3 {
            margin-top: 1.25em;
          }
          ul {
            -webkit-padding-start: 1.5em;
          }
          code {
            font-size: 0.8em;
            word-wrap: break-word;
          }
        }
        .footer {
          font-size: 80% !important;
          padding-top: 0 !important;
          .tags {
            -webkit-padding-start: 0 !important;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
          }
          & > * {
            display: block !important;
          }
        }
      }
      aside {
        .referrers, .similar {
          width: 100%;

          ul li {
            width: 100%;
            margin: .5em;
          }

          .description .image img {
            max-width: 100px;
          }
        }
        .comments {
          margin: auto;
          .comment {
            margin: 1em auto;
            .meta, .body {
              margin: auto;
            }
            .meta {
              padding-left: 0.5em;
              width: 30%;
            }
            .body {
              width: 65%;
              padding: 0 5px 0 3px;
            }
          }
        }
      }
      .pager {
        -webkit-padding-start: 0 !important;
        li {
          margin: 0.15em;
        }
      }
      #comment_form {
        margin: auto !important;
        width: 95% !important;
        padding-bottom: 1.5em;

        $comment_form_width: 75% !important;
        #comment_name {
          width: $comment_form_width;
        }
        #comment_email {
          width: $comment_form_width;
        }
        #comment_homepage {
          width: $comment_form_width;
        }
        #comment_body {
          width: 95% !important;
        }
      }
    }
  }
  #footer {
    margin: 0;
    aside {
      display: block;
      margin: 0;
      padding: .7em .6em;
      dl {
        margin: 0.25em;
        width: 100%;
        dd {
          display: none;
        }
      }
    }
  }
  // Archive
  .year-list, .category-list {
    margin: 0;
    padding: 0.5em;
    li {
      margin: 0;
      font-size: 0.9em;
    }
  }
  .archive-by-month {
    ul {
      list-style: disc !important;
      -webkit-padding-start: 15px !important;
    }
    .detail-information {
      font-size: 0.75em !important;
      display: block !important;
      margin-left: 0 !important;
    }
  }
}
