#content {
  article .body {
    > .highlight,
    > blockquote > .highlight {
      @include _monokai;
      @include _border-radius;
      font-size: $code-font-size;
      pre {
        border: 1px solid #333;
        @include _border-radius;
      }
    }
  }

  // Similarity
  .referrers, .similar {
    @include entries-list;
  }

  // Archive
  .archive-filter {
    display: flex;

    .year-list, .category-list, .search-field, .entry-length {
      margin: .25em;
      width: 100%;
      max-width: 250px;
    }

    .year-list, .category-list, .search-field {
      color: #000;
      font-size: 16px;
    }

    .search-field {
      input {
        width: 250px;
        height: 40px;
        border: solid 1px hsl(0, 0%, 80%);
        padding-left: 10px;
        border-radius: 4px;
        font-size: 16px;
        background: #ffffff;

        &:focus {
          outline-style: none;
        }
      }
    }

    .entry-length {
      display: flex;
      align-items: center;
      p {
        margin: auto .3em;
      }
    }
  }

  .archive-by-month {
    h2 { display: none; }

    ul {
      list-style: disc;
      -webkit-padding-start: 25px;

      li {
        margin: 1em auto;
      }
    }

    .detail-information {
      font-size: .85rem;

      .created_at {
        color: #7d7c7c;
      }

      .category {
        padding-left: .5rem;
        font-size: 0.9rem;
      }

      .tag {
        font-size: .85rem;
      }
    }

    .year-month {
      list-style: none;

      h3 {
        display: flex;
        justify-content: space-between;
        margin-right: 1em;

        .month {
          flex-grow: 3;
        }
      }
    }
  }

  // Amazon Associate
  .amazon {
    display: flex;
    align-items: start;
    margin: 2em auto;
    max-height: 320px;
    background: #fff;
    color: #000;
    font-size: 16px;
    line-height: 150%;
    @include _border-radius;

    .amazon-content {
      .item-title, .item-meta, .item-price {
        a {
          text-shadow: none;
        }
      }
    }
  }

  .amazon-image, .amazon-content {
    margin: 2.5em 1em;
  }

  .amazon-image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 250px;

    img {
      filter: brightness(100%);
      max-height: 200px;
      max-width: 200px;

      &:hover {
        filter: brightness(105%);
      }
    }
  }

  .amazon-content {
    margin-right: 2em;

    .item-title {
      &::before {
        content: none;
        margin: 0;
      }

      font-size: 1.2em;
      font-weight: bold;
      margin: 0 auto;
    }

    .item-meta, .item-price {
      margin: .75em auto;
    }

    .item-meta span:not(:last-child) {
      &::after {
        content: '/';
        margin-left: .5em;
      }
    }

    .to-amazon {
      a {
        display: block;
        width: 328px;
        height: 52px;
        background: url("https://images-fe.ssl-images-amazon.com/images/G/09/associates/buttons/assocbtn_orange_amazon4_new.png") no-repeat;
        background-size: cover;
        filter: brightness(100%);

        &:hover {
          filter: brightness(95%);
          transition: all .3s ease;
        }
      }
    }
  }

  @media screen and (max-width:640px) {
    .amazon {
      font-size: 88%;
      line-height: 155%;
    }

    .amazon-image {
      max-width: 40%;
      min-width: 120px;
      margin: 1em .5em;

      img {
        max-height: 120px;
        max-width: 120px;
      }
    }

    .amazon-content {
      max-width: 60%;
      margin: 1em 1em 1em 0;

      .item-title {
        font-size: 1em;
      }

      .item-meta {
        font-size: .9em;
      }

      .item-title, .item-meta {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .item-meta, .item-price {
        margin: .25em auto;
      }

      .to-amazon a {
        width: 152px;
        height: 24px;
      }
    }
  }

  // OGP
  .ogp {
    max-width: 552px;
    height: 125px;
    margin: 1.5em 0px;
    overflow-y: hidden;
    font-family: メイリオ, Lucida Sans Unicode, Lucida Grande, Arial, Helvetica, ヒラギノ丸ゴ Pro W4, HiraMaruPro-W4, Verdana, HiraMaruPro-W4, ヒラギノ角ゴ Pro W3, HiraKakuPro-W3, Osaka, sans-serif;
    font-size: 16px;

    a.ogp-link, a.ogp-link:link {
      color: #8b968d;
      background: #fffffc;
      text-decoration: none;
      text-shadow: none;
    }

    a.ogp-link:hover {
      color: #a3a3a2;
      background: #212121;
      text-shadow: none;
    }

    .ogp-element {
      display: flex;
      justify-content: space-between;
      border-radius: 5px;
      border: 1px solid #8b968d;
      font-size: .9em;
      height: 120px;
    }

    .ogp-image {
      flex-grow: 1;
      width: 120px;
      background-color: #fffffc;
      border-radius: 5px 0 0 5px;
      overflow: hidden;
    }

    .ogp-image img {
      border-radius: 5px 0 0 5px;
      height: 120px;
      width: 120px;
      object-fit: cover;
    }

    .ogp-summary {
      flex-grow: 3;
      padding: .7em 1.1em;
      display: flex;
      border-radius: 0 5px 5px 0;
      flex-direction: column;
      justify-content: space-between;
      background: #fffffc;
      overflow: hidden;
    }

    .ogp-link:hover .ogp-summary {
      color: #a3a3a2;
      background: #212121;
    }

    .ogp-summary h3 {
      max-width: 400px;
      font-size: 1em;
      margin: 0;
      text-overflow: ellipsis;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;

      &:before {
        content: "";
        margin: 0;
      }
    }

    .ogp-summary h3:link, .ogp-summary h3:visited {
      color: #e8ecef;
    }

    .description {
      max-width: 400px;
      font-size: .8em;
      line-height: 1.3em;
      margin: 0 auto 0 0;
      border-radius: 0 5px 5px 0;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }

    .host {
      margin: 0 auto 0 0;
    }

    @media screen and (max-width:414px) {
      .ogp-element {
        font-size: 80%;
      }
      .ogp-summary {
        max-width: 233px;

        h3 {
          float: none;
        }
      }
    }
  }
}
