$base-font-color: #e8ecef;
$emphasis-font-color: #fffeff;
$radius: 5px;
$base-link-color: #8c0000;
$visited-link-color: #a3a3a2;
$meta-text-color: #595857;
$various-bg: #212121;
$code-font: Menlo, Consolas, "Courier New", Courier, mono;
