$dark-font-color: #e8ecef;
$dark-title-link-color: #e6e6e6;
$dark-link-color: #8c0000;
$dark-hover-link-color: #f60;
$dark-visited-link-color: #a3a3a2;
$dark-text-shadow-color: #191919;
$dark-main-background-color: rgba(33,33,33,0.80);
$dark-emphasis-font-color: #fffeff;

$light-font-color: #16160e;
$light-title-link-color: #2b2b2b;
$light-link-color: #ce5242;
$light-hover-link-color: #e6b422;
$light-visited-link-color: #a3a3a2;
$light-text-shadow-color: #f8f4e6;
$light-emphasis-font-color: #281a14;

$radius: 5px;
$meta-text-color: #595857;
$various-bg: #212121;
$code-font: Menlo, Consolas, "Courier New", Courier, mono;
$code-font-size: .9em;
$content-max-width: 1280px;
$footer-bg-color: #630101;
$modal-bg-color: rgba(234, 234, 234, 1);
