$dark-font-color: #e8ecef;
$dark-link-color: #8c0000;
$dark-hover-link-color: #f60;
$dark-visited-link-color: #a3a3a2;
$light-font-color: #16160e;
$light-link-color: #c9171e;
$light-hover-link-color: #e6b422;
$light-visited-link-color: #897858;
$emphasis-font-color: #fffeff;
$radius: 5px;
$meta-text-color: #595857;
$various-bg: #212121;
$code-font: Menlo, Consolas, "Courier New", Courier, mono;
$code-font-size: .9em;
$content-max-width: 1280px;
