%h2 Recaptcha
%form{ action: '/admin/plugins/recaptcha', method: 'post'}
  %input{ type: 'hidden', name: '_method', value: 'put'}
  .field
    %label{ for: 'recaptcha_public_key'}= t("recaptcha.public_key")
    %br
    %input{ type: 'text', name: 'recaptcha[public_key]', value: Option.recapcha_public_key, id: 'recapcha_public_key'}
  .field
    %label{ for: 'recaptcha_private_key'}= t("recaptcha.private_key")
    %br
    %input{ type: 'text', name: 'recaptcha[private_key]', value: Option.recaptcha_private_key, id: 'recaptcha_private_key'}
  .field
    %input{ type: 'submit', value: t('save')}
